<div class="jumbotron" ng-controller="AudioController" xmlns="http://www.w3.org/1999/html">
    <div ng-model="labTypeId" style="display: none">1</div>
    <div class="col-sm-12"><h2 translate="AUDIO_PROJECT"></h2></div>
    <div class="col-sm-12 description" translate="CHOOSE_AUDIO_PRIORITIES_TEXT" translate-values="{groupname:group.name}" ng-show="group!=undefined" ng-show="!currentUser.isTutor"></div>
    <div class="col-sm-12 description" ng-show="group==undefined && !currentUser.isTutor">Du musst in einer Gruppe sein, um Prioritäten für das Audiopraktikum zu speichern.</div>

    <div class="col-md-8 col-sm-12">
        <calendar-md flex layout layout-fill
                     calendar-direction="direction"
                     on-prev-month="prevMonth"
                     on-next-month="nextMonth"
                     on-day-click="dayClick"
                     title-format="'MMMM y'"
                     ng-model='selectedDate'
                     week-starts-on="1"
                     tooltips="tooltips"
                     day-format="dayFormat"
                     day-label-format="'EEE'"
                     day-label-tooltip-format="'EEEE'"
                     day-tooltip-format="'fullDate'"
                     disable-future-selection="false">
        </calendar-md>
    </div>

    <div class="col-md-4 col-sm-12 clicked_day_container">
        <h3> {{ clickedDay }} </h3>
        <div ng-repeat="object in objects">
            <div class="lab_details">
                <!--Edit Lab Button-->
                <md-icon style="float: right" ng-click="editLab($index)" ng-show="currentUser.isTutor && !isEdit[$index]">edit</md-icon>
                <md-icon style="float: right" ng-click="cancelEditLab($index)" ng-show="currentUser.isTutor && isEdit[$index]">close</md-icon>
                <!--Select Priority-->
                <md-input-container>
                    <md-select ng-model="selectedPriority[$index].priority" placeholder="{{ 'PRIORITY' | translate }}" ng-change="selectedPriority[$index].objectId = object.id; showButton(selectedPriority[$index].priority, $index)" ng-show="object.selPrio == undefined && !currentUser.isTutor" >
                        <md-option ng-value="priority" ng-repeat="priority in priorities">{{ priority }}</md-option>
                    </md-select>
                    <md-icon ng-show="showCross[$index]" ng-click="resetSelect($index)">close</md-icon>
                </md-input-container>
                <br>
                <!--Time-->
                <span ng-show="!isEdit[$index]"><md-icon>access_time</md-icon> {{ object.date | date: "HH:mm" }} - {{ object.end }} {{ 'HOURS' | translate }}</span>
                <md-input-container ng-show="isEdit[$index]">
                    <input mdc-datetime-picker=""
                           date="true"
                           time="true"
                           type="text"
                           id="editDatetime"
                           placeholder="{{ 'DATETIME' | translate }}"
                           min-date="minDate"
                           ng-model="editDateTime[$index]"
                           class ="md-input"
                           lang="{{lang}}">
                </md-input-container>
                <br>
                <!--Duration-->
                <md-input-container ng-show="isEdit[$index]">
                    <input type="text" ng-model="editDuration[$index]" placeholder="{{ 'DURATION_MINUTES' | translate }}">
                </md-input-container>
                <!--Location-->
                <span ng-show="!isEdit[$index]"><md-icon>place</md-icon><a href="http://maps.google.com/?q={{ object.location }}" target="_blank"> {{ object.location }}</a></span>
                <md-input-container ng-show="isEdit[$index]">
                    <input type="text" ng-model="editLocation[$index]" placeholder="{{ 'LOCATION' | translate }}">
                </md-input-container>
                <br>
                <!--Tutor-->
                <span ng-show="!isEdit[$index]"><md-icon>person</md-icon> {{ object.tutorName }}</span>
                <md-input-container ng-show="isEdit[$index]">
                    <md-select ng-model="editSelectedTutor[$index]" placeholder="{{ 'TUTOR' | translate }}">
                        <md-option ng-value="tutor" ng-repeat="tutor in tutors"> {{ tutor.first_name}} {{ tutor.name }}</md-option>
                    </md-select>
                </md-input-container>
                <br>
                <!--selected Priority-->
                <span ng-show="object.selPrio != undefined"><md-icon>label_outline</md-icon> Priorität: {{ object.selPrio }}</span>
                <!--UpdateButton-->
                <md-button ng-click="updateLab($index)" class="md-raised md-primary" ng-show="isEdit[$index]"
                           aria-label="{{ 'SAVE' | translate }}" translate="SAVE"></md-button>
                <hr/>
            </div>
        </div>
        <!--{{ 'MISSING_PRIORITIES' | translate:'{ number: "3" }' }}-->
        <md-button ng-click="savePriorities()" class="md-raised md-primary" ng-show="group!=undefined || !showSaveButton" ng-hide="!showSaveButton"
                   aria-label="{{ 'SAVE' | translate }}" translate="SAVE"></md-button>
    </div>

    <div class="col-md-8 col-sm-12 create_lab_container" ng-show="currentUser.isTutor">
        <h3 translate="CREATE_NEW_AUDIO_LAB_APPOINTMENT"></h3>
        <md-input-container>
            <input mdc-datetime-picker=""
                   date="true"
                   time="true"
                   type="text"
                   id="datetime"
                   placeholder="{{ 'DATETIME' | translate }}"
                   min-date="minDate"
                   ng-model="dateTime"
                   class ="md-input"
                   lang="{{lang}}">
        </md-input-container>
        <md-input-container>
            <input type="text" ng-model="duration" placeholder="{{ 'DURATION_MINUTES' | translate }}">
        </md-input-container>
        <md-input-container>
            <input type="text" ng-model="location" placeholder="{{ 'LOCATION' | translate }}">
        </md-input-container>
        <md-input-container>
            <md-select ng-model="selectedTutor" placeholder="{{ 'TUTOR' | translate }}">
                <md-option ng-value="tutor" ng-repeat="tutor in tutors"> {{ tutor.first_name}} {{ tutor.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-button ng-click="createLab()" class="md-raised md-primary" aria-label="{{ 'CREATE' | translate }}" translate="CREATE"></md-button><br>
        <div ng-bind-html="successMessage"></div>

        <div class=my_labs">
            <h3>Von mir betreute Audiopraktika</h3>
            <div class="lab_date" ng-click="dayClick(lab.date.slice(0,10))" ng-repeat="lab in myLabs"><md-icon>event_available</md-icon>{{ lab.date | date: "EEE, dd.MM.y, HH:mm" }} Uhr</div><br>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 saved_priorities_container" ng-show="!currentUser.isTutor">
        <h3>Gespeicherte Prioritäten</h3>
        <div>{{ prioMessage }}</div>
        <div class="prio" ng-repeat="prio in groupPriorities | orderBy: groupPriorities.priority">
            <div class="prio_number">{{ prio.priority }}</div>
            <div class="prio_date" ng-click="dayClick(lab.date.slice(0,10))" ng-repeat="lab in labs | filter: {id: prio.labId}">{{ lab.date | date: "EEE, dd.MM.y, HH:mm" }} Uhr </div>
            <md-icon class= "delete_button" ng-click="deletePriority(prio.priority, prio.labId)">delete</md-icon><br>
        </div>
    </div>
</div>