<div class="inputdemoIcons" ng-controller="ProfileController" ng-app="mtPlanr" layout="column" ng-cloak=""
     layout-padding="">
    <div class="col-md-6 col-sm-12">
        <md-content class="md-no-momentum login-block">
            <md-input-container class="md-block" md-no-float="">
                <label>Neues Passwort</label>
                <input type="password" placeholder="Neues Passwort" ng-model="currentUser.newPassword">
            </md-input-container>
            <md-input-container class="md-block" md-no-float="">
                <label>Neues Passwort wiederholen</label>
                <input type="password" placeholder="Neues Passwort wiederholen" ng-model="currentUser.repeatNewPassword">
            </md-input-container>
        </md-content>
        <md-button class="md-raised md-primary" ng-click="changePassword()">Passwort ändern</md-button>
    </div>
</div>