<!-- student exercise template for attending and leaving exercises -->
<div class="jumbotron adminExercise layout-padding" ng-controller="ExerciseController">
    <h2 style="text-align: center;" translate="TUTORIALS"></h2>

    <div class="row">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <md-card>
                <md-card-content style="text-align: center;" translate="STUDENT_EXERCISE_TEXT"></md-card-content>
            </md-card>
        </div>
        <div class="col-sm-0 col-md-2"></div>
    </div>

    <!-- display the weekSchedules of the exercises -->
    <div class="row">
        <div class="col-sm-12">
            <md-card>
                <md-card-content layout-gt-md="row" layout="column">
                    <div flex ng-repeat="(weekday,exercises) in weekSchedules">
                        <md-toolbar layout="row">
                            <div class="md-toolbar-tools">
                                <span translate="{{weekday}}"></span>
                            </div>
                        </md-toolbar>

                        <!-- show all scheduled exercises for each weekday with the option to attend or leave one -->
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat-start="exercise in exercises">
                                <div class="md-list-item-text">
                                    <h3>{{exercise.name}}</h3>
                                    <span><md-icon class="tiny">place</md-icon>
                                        <a href="http://maps.google.com/?q={{ exercise.location }}"
                                           target="_blank"> {{ exercise.location }}</a></span><br>
                                    <span>
                                        <md-icon class="tiny">schedule</md-icon> {{exercise.daytime}} - {{exercise.lectureEnd}}
                                    </span><br>
                                    <span><md-icon class="tiny">school</md-icon> {{exercise.tutor}}</span><br>
                                    <span translate="PARTICIPANTS_COUNT"
                                          translate-values="{count:exercise.participantCount}"></span>
                                    <md-button ng-if="exercise.currentUserParticipates"
                                               ng-click="leaveExercise(weekday, $index)" class="md-icon-button">
                                        <md-icon class="md-accent">directions_run</md-icon>
                                        <md-tooltip md-direction="right">{{ 'LEAVE_EXERCISE' | translate }}</md-tooltip>
                                    </md-button>
                                    <md-button ng-if="!exercise.currentUserParticipates && exercise.participantCount<20"
                                               ng-click="attendExercise(weekday, $index)" class="md-icon-button">
                                        <md-icon class="md-primary">group_add</md-icon>
                                        <md-tooltip md-direction="right">{{ 'ATTEND_EXERCISE' | translate }}</md-tooltip>
                                    </md-button>
                                    <md-button ng-if="!exercise.currentUserParticipates && exercise.participantCount>=20"
                                               class="md-icon-button">
                                        <md-icon>block</md-icon>
                                        <md-tooltip md-direction="right">{{ 'COURSE_FULL' | translate }}</md-tooltip>
                                    </md-button>
                                </div>
                            </md-list-item>
                            <md-divider ng-repeat-end></md-divider>
                        </md-list>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>