<div ng-controller="GroupController" layout-padding="">
    <div class="row">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <md-card>
                <md-card-content style="text-align: center;">
                    {{ 'TUTORIAL_GROUP_TEXT_1' | translate }}
                    <br/>
                    {{ 'TUTORIAL_GROUP_TEXT_2' | translate }}

                </md-card-content>
            </md-card>
        </div>
        <div class="col-sm-0 col-md-2"></div>
    </div>
    <div class="row">

        <div class="col-sm-12 col-md-6">
            <md-card>

                <md-card-title class="dashboardCardTitle">
                    <md-card-title-text><h2 class="cardHeader"> {{ 'CREATE_GROUP' | translate }}</h2></md-card-title-text>
                </md-card-title>
                <br/>
                <br/>

                <md-card-content style="text-align: center;">
                    {{ 'CREATE_GROUP_TEXT' | translate }}
                    <br/><br/>
                    <md-input-container style="width:50%">
                        <label style="text-align: left;" translate="GROUP_NAME"></label>
                        <md-icon>keyboard</md-icon>
                        <input name="groupname" ng-model="groupName"/>
                    </md-input-container>

                    <md-divider style="margin-bottom: 20px;"></md-divider>

                    <div ng-repeat="member in groupMembers">
                        <form name="groupForm">
                            <md-input-container style="width:50%;">
                                <label style="text-align: left;" translate="EMAIL"></label>
                                <md-icon>person</md-icon>
                                <input name="email" ng-model="member.email" minlength="1" maxlength="100" ng-pattern="/^.+@campus.lmu.de$/"/>
                            </md-input-container>

                            <div ng-messages="groupForm.email.$error">
                                <span ng-message="pattern" translate="PROVIDE_CAMPUS_MAIL"></span>
                            </div>
                            <br/><br/>
                        </form>
                    </div>

                    <div ng-show="showError"><span style="color:red">{{errorMessage}}</span></div>
                    <br/><br/>
                    <md-button class="md-raised md-primary" ng-click="createGroup()" translate="CREATE"></md-button>
                </md-card-content>
            </md-card>
        </div>

        <div class="col-md-1 col-sm-0"></div>

        <div class="col-sm-12 col-md-6">
            <md-card>
                <md-card-title class="dashboardCardTitle">
                    <md-card-title-text><h2 class="cardHeader">{{ 'JOIN_RANDOM_GROUP' | translate }}</h2></md-card-title-text>
                </md-card-title>
                <md-card-content style="text-align: center">
                    <br/>
                    <br/>
                    <div>
                        {{ 'RANDOM_GROUP_TEXT_1' | translate }}  <br/>
                        {{ 'RANDOM_GROUP_TEXT_2' | translate }}
                    </div>
                    <br/><br/>
                    <md-button class="md-raised md-primary" ng-click="randomJoin()"> {{ 'JOIN' | translate }} </md-button>
                </md-card-content>
            </md-card>
        </div>


    </div>
</div>