<div class="jumbotron text-center" ng-controller="HomeController">
    <h2 translate="HOME_HELLO" translate-values="{username:currentUser.first_name}"></h2>

    <div class="row boxesContainer">
        <div ng-if="!currentUser.isTutor && !currentUser.isAdmin" class="col-md-4 col-sm-12">
            <md-card class="groupBox">
                <md-card-title class="dashboardCardTitle">
                    <md-card-title-text><h2 class="cardHeader">{{group.name || ('NO_GROUP' | translate) }}</h2></md-card-title-text>
                </md-card-title>

                <md-card-content class="dashboardCardContent">
                    <md-list class="list-left" ng-repeat="person in groupMembers">
                        <md-list-item class="noright">
                            <md-icon class="md-avatar white-icon">person</md-icon>
                            <p>{{person.first_name}}</p>
                            <a href="mailto:{{person.email}}" target="_blank">
                                <md-icon aria-label="{{ 'SEND_MAIL' | translate }}" class="white-icon">email</md-icon>
                            </a>
                        </md-list-item>
                    </md-list>

                    <div class="noGroupNotification" ng-hide="group.name">
                        <a href="/group" translate="CHOOSE_GROUP"></a>
                    </div>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="showLeaveGroupConfirm($event)" class="md-fab md-mini cardFab">
                        <md-icon>exit_to_app</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div ng-class="{'col-md-4': !currentUser.isTutor && !currentUser.isAdmin, 'col-md-6': currentUser.isTutor || currentUser.isAdmin}" class="col-sm-12">
            <md-card class="newsBox">
                <md-card-title class="dashboardCardTitle">
                    <md-card-title-text><h2 class="cardHeader" translate="NEWS"></h2></md-card-title-text>
                </md-card-title>

                <md-content style="text-align: left; height: 470px;" class="cardContent">
                    <text-angular style="text-align: left;" ng-show="(currentUser.isTutor || currentUser.isAdmin) && !hideEditor" ng-model="news"></text-angular>
                    <div ng-show="(!currentUser.isTutor && !currentUser.isAdmin) || hideEditor" ta-bind ng-model="news"></div>
                </md-content>
            </md-card>

            <md-button ng-click="saveEditor()" ng-show="currentUser.isTutor || currentUser.isAdmin"
                       class="md-raised md-primary">{{ 'SAVE' | translate }}</md-button>
            <md-button ng-click="hideEditor = !hideEditor" ng-show="currentUser.isTutor || currentUser.isAdmin"
                       class="md-raised md-primary">{{ 'EDIT' | translate }}</md-button>
        </div>
        <div ng-class="{'col-md-4': !currentUser.isTutor && !currentUser.isAdmin, 'col-md-6': currentUser.isTutor || currentUser.isAdmin}" class="col-sm-12">
            <md-card class="calendarBox">
                <calendar-md flex layout layout-fill
                             calendar-direction="direction"
                             on-prev-month="prevMonth"
                             on-next-month="nextMonth"
                             on-day-click="dayClick"
                             title-format="'MMMM y'"
                             ng-model='selectedDate'
                             week-starts-on="1"
                             tooltips="tooltips"
                             day-format="dayFormat"
                             day-label-format="'EEE'"
                             day-label-tooltip-format="'EEEE'"
                             day-tooltip-format="'fullDate'"
                             day-content="setDateContent"
                             disable-future-selection="false"
                             lang="{{lang}}">
                </calendar-md>
            </md-card>
        </div>
    </div>
</div>