<div style="margin-left: -18px; margin-right: -18px;" class="login" ng-controller="LoginController" ng-app="mtPlanr" layout="column" ng-cloak="" layout-padding="">
    <div class="row">
        <div class="col-md-3 col-sm-0"></div>
        <div id="reglogincontainer" class="col-md-6 col-sm-12">

            <md-card ng-show="registerFlag==false">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style="text-align: center" translate="LOGIN"></span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <form name="loginForm">
                        <md-input-container class="md-block">
                            <input type="email" placeholder="{{ 'EMAIL' | translate }}" ng-model="registeredUser.email"
                                   ng-required="true" ng-pattern="/^.+@.+\..+$/" name="loginMail">
                            <div ng-messages="loginForm.loginMail.$error">
                                <div ng-message-exp="['required', 'pattern']" translate="EMAIL_NOT_REAL"></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" md-no-float="">
                            <label translate="PASSWORD"></label>
                            <input type="password" placeholder="{{ 'PASSWORD' | translate }}"
                                   ng-model="registeredUser.password" ng-required="true" name="loginPassword">
                            <div ng-messages="loginForm.loginPassword.$error">
                                <div ng-message="required" translate="WRONG_LOGIN_DATA"></div>
                            </div>
                            <div style="padding-top: 20px; text-align: center;" ng-if="wrongLogin||notVerified" ng-messages="wrongLogin">
                                <span ng-show="wrongLogin" translate="WRONG_LOGIN_DATA"></span>
                                <span ng-show="notVerified"> {{'NOT_VERIFIED' | translate }}</span>
                            </div>
                        </md-input-container>

                        <div ng-model="loginCaptcha" vc-recaptcha class="centeredCaptcha"  on-create="setLoginWidgetId(widgetId)"
                                key= "'6LfhmRMUAAAAAH6qMVZhj6mhCzFTc0B2v7NdJY9Q'"
                        ></div>

                        <md-button style="width: 100%;" type="submit" class="md-raised md-primary" ng-click="login()" ng-disabled="loginForm.$invalid"
                                   translate="LOGIN" aria-label="{{ 'LOGIN' | translate}}"></md-button>
                    </form>
                </md-card-content>



                <md-card-content>
                    <md-button md-no-ink class="md-primary" ng-click="registerFlag=true">{{ 'NEW_USER' | translate }}
                    </md-button>
                </md-card-content>
            </md-card>

            <md-card ng-show="registerFlag==true">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style="text-align: center" translate="REGISTRATION"></span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <form name="registerForm">
                        <md-input-container class="md-block">
                            <input ng-required="true" type="email" placeholder="{{ 'EMAIL' | translate }}"
                                   ng-model="user.email" ng-pattern="/^.+@.+\..+$/" name="registerMail">
                            <!--div ng-messages="whitelisted">
                                <span ng-show="!whitelisted" translate="EMAIL_NOT_WHITELISTED"></span>
                            </div-->
                            <div ng-messages="registerForm.registerMail.$error">
                                <!--div ng-message="required">This is required.</div-->
                                <span ng-show="!whitelisted" translate="EMAIL_NOT_WHITELISTED"></span>
                                <div ng-message-exp="['required', 'pattern']" translate="EMAIL_NOT_REAL"></div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" md-no-float="">
                            <label translate="PASSWORD"></label>
                            <input ng-required="true" type="password" placeholder="{{ 'PASSWORD' | translate }}"
                                   ng-model="user.password" name="registerPassword"
                                   ng-pattern="/^(?=.*[A-Z])(?=.*\d).+$/" minlength="8">
                            <md-icon class="md-primary">
                                info_outline
                                <md-tooltip md-direction="left">{{ 'PASSWORD_REQUIREMENTS' | translate }}</md-tooltip>
                            </md-icon>
                            <div ng-messages="registerForm.registerPassword.$error">
                                <div ng-message-exp="['required', 'pattern', 'minlength']" translate="PASSWORD_REQUIREMENTS"></div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label translate="REPEAT_PASSWORD"></label>
                            <input ng-required="true" type="password" step="0.01" ng-model="user.repeatpassword"
                                   placeholder="{{ 'REPEAT_PASSWORD' | translate }}" name="registerPasswordRepeat"
                                   ng-pattern="user.password">
                            <div ng-messages="registerForm.registerPasswordRepeat.$error">
                                <div ng-message-exp="['required', 'pattern']" translate="REPEAT_PASSWORD_NO_MATCH"></div>
                            </div>
                        </md-input-container>
                        <div style="padding-top: 20px; text-align: center;" ng-if="wrongCaptcha" ng-messages="wrongCaptcha">
                            <span ng-show="wrongCaptcha"> {{'WRONG_CAPTCHA' | translate }}</span>
                        </div>
                        <div ng-model="registerCaptcha" vc-recaptcha class="centeredCaptcha"  on-create="setRegisterWidgetId(widgetId)"
                             key= "'6LfhmRMUAAAAAH6qMVZhj6mhCzFTc0B2v7NdJY9Q'"
                        ></div>
                        <md-button type="submit" style="width: 100%;" class="md-raised md-primary" ng-click="register()" ng-disabled="registerForm.$invalid"
                                   translate="REGISTER" aria-label="{{ 'REGISTER' | translate}}"></md-button>
                    </form>
                </md-card-content>



                <md-card-content>
                    <md-button md-no-ink class="md-primary" ng-click="registerFlag=false">
                        {{ 'BACK_TO_LOGIN' | translate }}
                    </md-button>
                </md-card-content>
            </md-card>
        </div>
        <div class="col-md-3 col-sm-0"></div>
    </div>
    <div class="row" id="loginSpacer"></div>
</div>

