<div class="jumbotron" ng-controller="LabController" xmlns="http://www.w3.org/1999/html">
    <div style="visibility: hidden;">{{labTypeNumber='1'}}</div>
    <!------Headline and Description-------->
    <div class="col-sm-12"><h2 translate="PHOTO_PROJECT"></h2></div>
    <div class="col-sm-12 description" ng-show="!isTutor">{{ labType.description_student}}</div>
    <div class="col-sm-12 description" ng-show="isTutor">{{ labType.description_tutor}}</div>

    <div class="col-sm-12 instruction" ng-show="!open">Die Auswahl ist aktuell nicht möglich.</div>
    <div class="col-sm-12 instruction" translate="CHOOSE_PHOTO_PRIORITIES_TEXT" translate-values="{groupname:group.name, ddln:deadline}" ng-show="group!=undefined && open && !isTutor"></div>
    <div class="col-sm-12 instruction" ng-show="open && isTutor">Die Auswahl ist geöffnet und läuft bis {{ deadline | date: "EEE, dd.MM.y, HH:mm" }}.</div>
    <div class="col-sm-12 instruction" ng-show="!isTutor && group==undefined && open">Du musst in einer Gruppe sein, um Prioritäten für das Fotopraktikum zu speichern.</div>


    <!------Calendar-------->
    <div class="col-md-8 col-sm-12">
        <calendar-md flex layout layout-fill
                     calendar-direction="direction"
                     on-prev-month="prevMonth"
                     on-next-month="nextMonth"
                     on-day-click="dayClick"
                     title-format="'MMMM y'"
                     ng-model='selectedDate'
                     week-starts-on="1"
                     tooltips="tooltips"
                     day-format="dayFormat"
                     day-label-format="'EEE'"
                     day-label-tooltip-format="'EEEE'"
                     day-tooltip-format="'fullDate'"
                     disable-future-selection="false"
                     day-content="setDayContent">
        </calendar-md>
    </div>

    <!------Details of Labs on Clicked Day-------->
    <div class="col-md-4 col-sm-12 clicked_day_container">
        <h3> {{ clickedDay }} </h3>
        <div ng-repeat="object in objects | orderBy: 'objects.start':true ">
            <div class="lab_details">
                <!--Edit Lab Button-->
                <md-icon class="right-icon green_hover" ng-click="editLab($index)" ng-show="isTutor && !isEdit[$index]">edit</md-icon>
                <md-icon class="right-icon green_hover" ng-click="cancelEditLab($index)" ng-show="isTutor && isEdit[$index]">close</md-icon>
                <md-icon class="right-icon delete_button" ng-click="deleteLab($index)" ng-show="isTutor && !isEdit[$index]">delete</md-icon>
                <!--Select Priority-->
                <div ng-show="object.selPrio == undefined && !isTutor && group!=undefined" >
                    <md-input-container >
                        <md-select ng-model="selectedPriority[$index].priority" placeholder="{{ 'PRIORITY' | translate }}" ng-change="selectedPriority[$index].objectId = object.id; showButtons(selectedPriority[$index].priority, $index)">
                            <md-option ng-value="priority" ng-repeat="priority in priorities">{{ priority }}</md-option>
                        </md-select>
                        <md-icon class ="green_hover" ng-show="showBtns[$index]" ng-click="resetSelect($index)">close</md-icon>
                    </md-input-container>
                    <md-button ng-click="savePriority($index)" class="md-raised md-primary" ng-show="showBtns[$index]"
                               aria-label="{{ 'SAVE' | translate }}" translate="SAVE"></md-button>
                </div>
                <!--Time-->
                <span ng-show="!isEdit[$index]"><md-icon>access_time</md-icon> {{ object.start}} - {{ object.end }} {{ 'HOURS' | translate }}</span>
                <md-input-container ng-show="isEdit[$index]">
                    <input mdc-datetime-picker=""
                           date="true"
                           time="true"
                           type="text"
                           id="editDatetime"
                           placeholder="{{ 'DATETIME' | translate }}"
                           min-date="minDate"
                           ng-model="editDateTime[$index]"
                           class ="md-input"
                           lang="{{lang}}">
                </md-input-container>
                <br>
                <!--Duration-->
                <md-input-container ng-show="isEdit[$index]">
                    <input type="text" ng-model="editDuration[$index]" placeholder="{{ 'DURATION_MINUTES' | translate }}">
                </md-input-container>
                <!--Location-->
                <span ng-show="!isEdit[$index]"><md-icon>place</md-icon><a href="http://maps.google.com/?q={{ object.location }}" target="_blank"> {{ object.location }}</a></span>
                <md-input-container ng-show="isEdit[$index]">
                    <input type="text" ng-model="editLocation[$index]" placeholder="{{ 'LOCATION' | translate }}">
                </md-input-container>
                <br>
                <!--Tutor-->
                <span ng-show="!isEdit[$index]"><md-icon>person</md-icon> {{ object.tutorName }}</span>
                <md-input-container ng-show="isEdit[$index]">
                    <md-select ng-model="editSelectedTutor[$index]" placeholder="{{ 'TUTOR' | translate }}">
                        <md-option ng-value="tutor" ng-repeat="tutor in tutors"> {{ tutor.first_name}} {{ tutor.name }}</md-option>
                    </md-select>
                </md-input-container>
                <br>
                <!--selected Priority-->
                <span ng-show="object.selPrio != undefined"><md-icon>label_outline</md-icon> Priorität: {{ object.selPrio }}</span>
                <!--UpdateButton-->
                <md-button ng-click="updateLab($index)" class="md-raised md-primary" ng-show="isEdit[$index]"
                           aria-label="{{ 'SAVE' | translate }}" translate="SAVE"></md-button>
            </div>
        </div>

    </div>

    <!------Create Lab-------->
    <div class="col-md-8 col-sm-12 create_lab_container" ng-show="isTutor">
        <h3 translate="CREATE_NEW_PHOTO_LAB_APPOINTMENT"></h3>
        <md-input-container>
            <input mdc-datetime-picker=""
                   date="true"
                   time="true"
                   type="text"
                   id="datetime"
                   placeholder="{{ 'DATETIME' | translate }}"
                   min-date="minDate"
                   ng-model="dateTime"
                   class ="md-input"
                   lang="{{lang}}">
        </md-input-container>
        <md-input-container>
            <input type="text" ng-model="duration" placeholder="{{ 'DURATION_MINUTES' | translate }}">
        </md-input-container>
        <md-input-container>
            <input type="text" ng-model="location" placeholder="{{ 'LOCATION' | translate }}">
        </md-input-container>
        <md-input-container>
            <md-select ng-model="selectedTutor" placeholder="{{ 'TUTOR' | translate }}">
                <md-option ng-value="tutor" ng-repeat="tutor in tutors"> {{ tutor.first_name}} {{ tutor.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-button ng-click="createLab()" class="md-raised md-primary" aria-label="{{ 'CREATE' | translate }}" translate="CREATE"></md-button><br>
        <div ng-bind-html="successMessage"></div>

        <!------My Tutor Labs-------->
        <div class=my_labs" ng-show="currentUser.isTutor">
            <h3>Von mir betreute Fotopraktika</h3>
            <div ng-show="myTutorLabs.length == 0">Du bist dieses Semester bei keinem Fotopraktikum als Betreuer eingetragen.</div>
            <div class="lab_date" ng-click="dayClick(lab.date.slice(0,10))" ng-repeat="lab in myTutorLabs | orderBy: 'labs.date':true "><md-icon class="green_hover">event_available</md-icon>{{ lab.date | date: "EEE, dd.MM.y, HH:mm" }} Uhr</div><br>
        </div>
    </div>

    <!------Saved Priorities-------->
    <div class="col-md-12 col-sm-12 saved_priorities_container" ng-show="!isTutor && open">
        <h3>Gespeicherte Prioritäten</h3>
        <div>{{ prioMessage }}</div>
        <div class="prio" ng-repeat="prio in groupPriorities | orderBy: 'groupPriorities.priority':false ">
            <div class="prio_number">{{ prio.priority | number }}</div>
            <div class="prio_date" ng-click="dayClick(lab.date.slice(0,10))" ng-repeat="lab in labs | filter: {id: prio.labId}">{{ lab.date | date: "EEE, dd.MM.y, HH:mm" }} Uhr </div>
            <md-icon class= "delete_button" ng-click="deletePriority(prio.priority, prio.labId)">delete</md-icon><br>
        </div>
    </div>
</div>