<div class="jumbotron" ng-controller="ProfileController">
    <h2 class="text-center" translate="MY_PROFILE"></h2>

    <div class="row">
        <div class="col-sm-12 col-lg-1"></div>
        <div class="col-sm-12 col-lg-10">
            <table class="table profileDataTable">
                <tbody>
                    <!--TODO: Code erstmal da lassen, falls mal nötig
                    <tr>
                        <th scope="row" width="100">Vorname:</th>
                        <td>
                            <span id="currentUser.first_name" ng-if="!editModeFirstname">{{currentUser.first_name}}</span>
                            <md-icon ng-click="editKeyword(currentUser); editModeFirstname = true">mode_edit</md-icon>
                            <span ng-if="editModeFirstname">
                                <input ng-model="currentUser.first_name" />
                                <md-icon ng-click="save(); editModeFirstname = false">save</md-icon>
                            </span>
                        </td>
                    </tr-->
                    <tr>
                        <th scope="row" width="100" translate="NAME"></th>
                        <td>{{currentUser.first_name}} {{currentUser.name}}</td>
                    </tr>
                    <tr>
                        <th scope="row" width="100" translate="EMAIL"></th>
                        <td>{{currentUser.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row" width="100" translate="PASSWORD"></th>
                        <td>
                            <a href="#" class="change-password-dialog-open-button" ng-click="showPasswordDialog($event)" translate="CHANGE_PASSWORD"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-lg-1"></div>
    </div>

    <!-- dialog -->
    <script type="text/ng-template" id="changePasswortDialog.tmpl.html">
        <div role="dialog" aria-label="{{ 'CHANGE_PASSWORD' | translate }}" layout="column" layout-align="center center">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 translate="CHANGE_PASSWORD"></h2>
                    <md-button  class="custom-dialog-close-button md-icon-button" ng-click="ctrl.closePasswortDialog()">
                        <md-icon class="md-primary">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <div class="custom-dialog-content">
                <form name="changePasswordForm">
                    <md-input-container class="md-block">
                        <input type="password" ng-required="true" placeholder="{{ 'NEW_PASSWORD' | translate }}"
                               name="newPassword" ng-model="currentUser.newPassword" minlength="8">
                        <md-icon class="md-primary">
                            info_outline
                            <md-tooltip md-direction="left" style="z-index: 1000">{{ 'PASSWORD_REQUIREMENTS' | translate }}</md-tooltip>
                        </md-icon>
                        <div ng-messages="changePasswordForm.newPassword.$error">
                            <div ng-message-exp="['required', 'pattern', 'minlength']" translate="PASSWORD_REQUIREMENTS"></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <input type="password" ng-required="true" ng-pattern="currentUser.newPassword" name="repeatNewPassword"
                               placeholder="{{ 'REPEAT_NEW_PASSWORD' | translate }}" ng-model="currentUser.repeatNewPassword">
                        <div ng-messages="changePasswordForm.repeatNewPassword.$error">
                            <div ng-message-exp="['required', 'pattern']" translate="REPEAT_PASSWORD_NO_MATCH"></div>
                        </div>
                    </md-input-container>
                    <div layout="row" class="action-dialog-button">
                        <md-button ng-click="changePassword()" class="md-primary" style="width: 100%;"
                                   translate="SAVE_NEW_PASSWORD" aria-label="{{ 'SAVE_NEW_PASSWORD' | translate }}"
                                   ng-disabled="changePasswordForm.$invalid"></md-button>
                    </div>
                </form>
            </div>
        </div>
    </script>
</div>