body{
    overflow-x:hidden;
}
.container-fluid {
    padding:0px !important;
}

#navigation-burger{
    margin-right:20px;
}
#profile-button{
    margin-right:10px;
}

.menubar-image {
    height:56px;
}

.login-block {
    margin-top: 50px;
    background-color: white;
}

.jumbotron {
    background-color: white;
}

.boxesContainer>.col-md-4 {
    padding: 10px;

}

.groupBox, .newsBox, .calendarBox {
    color: black;
    font-size: 1.4em;
    height: 550px;
}

.highlight-text {
    color: teal;
}

.list-left {
    text-align: -webkit-left;
    text-align: left;
}

.list-left li {
    margin-bottom: 5px;

}


.link-right {
    text-align: -webkit-right;
    text-align: right;
    vertical-align: bottom;
    color: white;
    text-decoration: none;
}

.link-right:hover {
    text-decoration: underline;
    color: white;
}

.li-subsection {
    font-size: 0.8em;
    color: black;
}

@media screen and (max-width:992px)  {
    .menubar-image{
        height:45px;
    }

    .groupBox, .newsBox, .calendarBox {
        height: auto;
    }
}

@media (min-width:768px)  {
    .jumbotron {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.toast{
    color:red !important;
}

.dashboardCardTitle{
    max-height:64px;
    color: white;
    background-color: #009688;
    padding: 0px;

}

.description {
    font-size: 18px;
    margin-bottom: 5px;
}

.cardHeader {
    font-size: 22px !important;
    text-align: center;
}

.cardFab {
    margin-right: 10px !important;
    margin-bottom: 10px !important;

}

.dashboardCardContent{
    min-height: 415px;
}

.noGroupNotification {
    margin-top: 30%;
}

.cardContent{
    padding: 20px;
}
.big_spacer {
    display: inline;
    margin-left: 70px;
}
.fat_divider {
    border-top-color: rgba(0,0,0,0.42) !important;
    margin-bottom: 10px;
}



.admin_card_title {
    height: 60px;
    padding: 15px;
    text-align: center;
}

.site_headline {
    text-align: center;
    margin-bottom: 50px;
}

.labDetails {
    font-size: 18px;
    margin: 15px 0 15px 0;
}
