body{
    overflow-x:hidden;
}
.container-fluid {
    padding:0px !important;
}

#navigation-burger{
    margin-right:20px;
}
#profile-button{
    margin-right:10px;
}

.menubar-image {
    height:56px;
}

.login-block {
    margin-top: 50px;
    background-color: white;
}

.jumbotron {
    background-color: white;
}

.boxesContainer>.col-md-4 {
    padding: 10px;

}

.groupBox, .newsBox, .calendarBox {
    color: black;
    font-size: 1.4em;
    height: 550px;
}

.highlight-text {
    color: teal;
}

.list-left {
    text-align: -webkit-left;
    text-align: left;
}

.list-left li {
    margin-bottom: 5px;

}


.link-right {
    text-align: -webkit-right;
    text-align: right;
    vertical-align: bottom;
    color: white;
    text-decoration: none;
}

.link-right:hover {
    text-decoration: underline;
    color: white;
}

.li-subsection {
    font-size: 0.8em;
    color: black;
}

@media screen and (max-width:992px)  {
    .menubar-image{
        height:45px;
    }

    .groupBox, .newsBox, .calendarBox {
        height: auto;
    }
}

@media (min-width:768px)  {
    .jumbotron {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.toast{
    color:red !important;
}

.dashboardCardTitle{
    max-height:64px;
    color: white;
    background-color: #009688;
    padding: 0px;

}

.description {
    font-size: 18px;
    margin-bottom: 5px;
}

.cardHeader {
    font-size: 22px !important;
    text-align: center;
}

.cardFab {
    margin-right: 10px !important;
    margin-bottom: 10px !important;

}

.dashboardCardContent{
    min-height: 415px;
}

.noGroupNotification {
    margin-top: 30%;
}

.cardContent{
    padding: 20px;
}
.big_spacer {
    display: inline;
    margin-left: 70px;
}
.fat_divider {
    border-top-color: rgba(0,0,0,0.42) !important;
    margin-bottom: 10px;
}



.admin_card_title {
    height: 60px;
    padding: 15px;
    text-align: center;
}

.site_headline {
    text-align: center;
    margin-bottom: 50px;
}

.labDetails {
    font-size: 18px;
    margin: 15px 0 15px 0;
}

.adminExercise .layout-gt-sm-row>.flex {
    margin-right: 2px;
}

/* START Dialog */
.custom-dialog {
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
    0 13px 19px 2px rgba(0, 0, 0, 0.14),
    0 5px 24px 4px rgba(0, 0, 0, 0.12);
    width: 500px;
}

.custom-dialog h2 {
    width: 90%;
}

.custom-dialog-content {
    padding: 0 15px;
    width: 100%;
}

.action-dialog-button {
    width: 100%;
}
/* END Dialog */

.login {
    background: rgba(0,105,92,1);
    background: -moz-linear-gradient(top, rgba(0,105,92,1) 0%, rgba(3,153,133,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,105,92,1)), color-stop(100%, rgba(3,153,133,1)));
    background: -webkit-linear-gradient(top, rgba(0,105,92,1) 0%, rgba(3,153,133,1) 100%);
    background: -o-linear-gradient(top, rgba(0,105,92,1) 0%, rgba(3,153,133,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,105,92,1) 0%, rgba(3,153,133,1) 100%);
    background: linear-gradient(to bottom, rgba(0,105,92,1) 0%, rgba(3,153,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00695c', endColorstr='#039985', GradientType=0 );
}

#loginSpacer{
   min-height: 60vh;
}

md-switch.languageSwitch.md-checked .md-bar {
    background-color: #9e9e9e;
}
md-switch.languageSwitch.md-checked .md-thumb {
    background-color: #fafafa;
}

.profileDataTable.table tr th, .profileDataTable.table tr td {
    padding: 20px 0 5px;
    color: #aaa;
    font-weight: normal;
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.lang_changer {
    width: 30px;
    margin-right:15px;
}
md-dialog{
    position: fixed !important;
}