<div class="jumbotron" ng-controller="AdminController">
    <h2 class="site_headline" translate="ADMIN_TOOLS"></h2>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <a href="admin/whitelist">
                <md-card class="admin_img_card">
                    <md-card-title class="admin_card_title">
                        <md-card-title-text><h4 translate="WHITELIST_MGT"></h4></md-card-title-text>
                    </md-card-title>
                    <img src="../../resources/images/admin/whitelists.png"/>
                </md-card>
            </a>
        </div>
        <div class="col-sm-12 col-md-4">
            <a href="admin/dates">
                <md-card class="admin_img_card">
                    <md-card-title class="admin_card_title">
                        <md-card-title-text><h4 translate="DATE_MGT"></h4></md-card-title-text>
                    </md-card-title>
                    <img src="../../resources/images/admin/saveTheDate.png"/>
                </md-card>
            </a>
        </div>
        <div class="col-sm-12 col-md-4">
            <a href="admin/users">
                <md-card class="admin_img_card">
                    <md-card-title class="admin_card_title">
                        <md-card-title-text><h4 translate="USER_MGT"></h4></md-card-title-text>
                    </md-card-title>
                    <img src="../../resources/images/admin/users.png"/>
                </md-card>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <a href="admin/semester">
                <md-card class="admin_img_card">
                    <md-card-title class="admin_card_title">
                        <md-card-title-text><h4 translate="SEMESTER_MGT"></h4></md-card-title-text>
                    </md-card-title>
                    <img src="../../resources/images/admin/semesters.png"/>
                </md-card>
            </a>
        </div>
        <div class="col-sm-12 col-md-4">
            <a href="admin/labtypes">
                <md-card class="admin_img_card">
                    <md-card-title class="admin_card_title">
                        <md-card-title-text><h4 translate="LABTYPE_MGT"></h4></md-card-title-text>
                    </md-card-title>
                    <img src="../../resources/images/admin/labs.png"/>
                </md-card>
            </a>
        </div>

    </div>
</div>
