<div class="jumbotron" ng-controller="AlgoController">

    <h2 class="site_headline" translate="PRIORITY_DIST"></h2>


    <div class="row">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <md-card>
                <md-card-content style="text-align: center;" translate="ADMIN_DIST_TEXT"
                ></md-card-content>
            </md-card>
        </div>
        <div class="col-sm-0 col-md-2"></div>
    </div>
    <br/>
    <br/>


    <div class="row">
        <div class="col-sm-12 col-lg-3"></div>

        <div class="col-sm-12 col-lg-6">

            <div class="md-headline" translate="CHOOSE_LAB_ALGO"></div>
            <md-input-container>
                <md-radio-group ng-model="labSelect" ng-change="reload(labSelect)">

                    <md-radio-button value="1">{{ 'PHOTO_PROJECT' | translate }}</md-radio-button>
                    <md-radio-button value="2">{{ 'VIDEO_PROJECT' | translate }}</md-radio-button>
                    <md-radio-button value="3">{{ 'AUDIO_PROJECT' | translate }}</md-radio-button>

                </md-radio-group>
            </md-input-container>

        </div>


        <div class="col-sm-12 col-lg-3"></div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-lg-3"></div>

        <div class="col-sm-12 col-lg-6">

            <md-card>
                <md-card-title class="dashboardCardTitle">
                    <md-card-title-text><h2 class="cardHeader"
                                            translate="START_ALGO"></h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content class="cardContent">

                    <md-list>
                        <md-list-item class="md-2-line">
                            <p translate="CHECK1"></p>
                            <div>
                                <md-progress-circular ng-if="labs_created_loading" class="spinner"
                                                      md-mode="indeterminate"></md-progress-circular>
                                <md-icon ng-if="labs_created&&!labs_created_loading" style="color:green">done</md-icon>
                                <md-icon ng-if="!labs_created&&!labs_created_loading" style="color:red">not_interested
                                </md-icon>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line">
                            <p translate="CHECK2"></p>
                            <div>
                                <md-progress-circular ng-if="student_prios_loading" class="spinner"
                                                      md-mode="indeterminate"></md-progress-circular>
                                <md-icon ng-if="student_prios &&!student_prios_loading" style="color:green">done
                                </md-icon>
                                <md-icon ng-if="!student_prios &&!student_prios_loading" style="color:red">
                                    not_interested
                                </md-icon>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line">
                            <p translate="CHECK3"></p>
                            <div>
                                <md-progress-circular ng-if="tutor_labs_loading" class="spinner"
                                                      md-mode="indeterminate"></md-progress-circular>
                                <md-icon ng-if="tutor_labs&&!tutor_labs_loading" style="color:green">done</md-icon>
                                <md-icon ng-if="!tutor_labs&&!tutor_labs_loading" style="color:red">not_interested
                                </md-icon>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <p translate="CHECK4"></p>
                            <div>
                                <md-progress-circular ng-if="registration_loading" class="spinner"
                                                      md-mode="indeterminate"></md-progress-circular>
                                <md-icon ng-if="registration_closed &&!registration_loading" style="color:green">done
                                </md-icon>
                                <md-icon ng-if="!registration_closed && !registration_loading" style="color:red">
                                    not_interested
                                </md-icon>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>

                <!--
                <md-button ng-disabled="!registration_closed||!tutor_labs||!student_prios||!labs_created" class="md-primary md-raised" ng-click="distribute()"
                           translate="START"></md-button>
                           -->

                <md-button class="md-primary md-raised" ng-click="distribute()" aria-label="{{ 'START' | translate }}"
                           translate="START"></md-button>
            </md-card>


        </div>


        <div class="col-sm-12 col-lg-3"></div>
    </div>


    <div ng-if="showResults" class="row">
        <div class="col-sm-12 col-lg-3"></div>

        <div class="col-sm-12 col-lg-6">

            <md-card>
                <md-card-content class="cardContent">

                    <md-progress-circular ng-if="algo_running"
                                          md-mode="indeterminate"></md-progress-circular>

                    <div ng-if="showErrorMessage"><h2 translate="ERROR"></h2> {{errorMessage}}</div>

                    <div ng-if="successAlgo">
                        <h3 style="margin-bottom: 50px;" translate="FINISHED_DIST"></h3>
                        <div >
                            <div style="margin-bottom: 30px;" translate="GOT_LAB"></div>
                            <md-list>
                                <md-list-item ng-repeat="group in successfulGroups">
                                    <p>{{group.name}}</p>
                                    <a href="mailto:{{group.mails[0]}}" target="_blank">
                                        <md-icon aria-label="{{ 'SEND_MAIL' | translate }}" class="white-icon">email
                                        </md-icon>
                                    </a></md-list-item>
                            </md-list>


                        </div>

                        <md-button ng-show="successfulGroups.length>0" class ="md-raised md-primary"
                                   ng-click="showSuccessfulEmails = !showSuccessfulEmails">
                            {{ 'EXPORT_EMAILS' | translate }}
                        </md-button>

                        <div ng-if="showSuccessfulEmails">

                            <br/>
                            <br/>
                            <div translate="EMAIL_TUT"> </div>
                            <br/>
                            <br/>

                            <md-input-container class="md-block">
                                <label translate="EMAILS"></label>
                                <textarea readonly ng-model="allGroupMailsSuccess" rows="5" md-select-on-focus></textarea>
                            </md-input-container>

                        </div>

                        <br/>
                        <br/>
                        <md-divider style="margin-bottom: 30px; margin-top: 30px;" ng-if="unsuccessfulGroups.length>0"></md-divider>

                        <div ng-if="unsuccessfulGroups.length>0">
                            <div style="margin-bottom: 30px;" translate="NO_LAB"></div>
                            <md-list>
                                <md-list-item style="color:red;" ng-repeat="group in unsuccessfulGroups">
                                    <p>{{group.name}}</p>
                                    <a href="mailto:{{group.mails[0]}}" target="_blank">
                                        <md-icon aria-label="{{ 'SEND_MAIL' | translate }}" class="white-icon">email
                                        </md-icon>
                                    </a></md-list-item>
                            </md-list>


                        </div>
                        <md-button ng-show="unsuccessfulGroups.length>0" class ="md-raised md-primary"
                                   ng-click="showFailedEmails = true">{{ 'EXPORT_EMAILS' | translate }}</md-button>


                        <div ng-if="showFailedEmails">

                            <br/>
                            <br/>
                            <div translate="FAIL_EMAIL_TUT"></div>
                            <br/>
                            <br/>

                            <md-input-container class="md-block">
                                <label translate="EMAILS"></label>
                                <textarea readonly ng-model="allGroupMailsFail" rows="5" md-select-on-focus></textarea>
                            </md-input-container>

                        </div>


                    </div>

                </md-card-content>

                <!--
                <md-button ng-disabled="!registration_closed||!tutor_labs||!student_prios||!labs_created" class="md-primary md-raised" ng-click="distribute()"
                           translate="START"></md-button>
                           -->

            </md-card>


        </div>


        <div class="col-sm-12 col-lg-3"></div>
    </div>


</div>
