<!-- amin/tutor exercise template for creating and removing exercises -->
<div class="jumbotron adminExercise layout-padding" ng-controller="ExerciseController">
    <h2 style="text-align: center;" translate="TUTORIAL_MGT"></h2>

    <div class="row">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <md-card>
                <md-card-content style="text-align: center;" translate="ADMIN_EXERCISE_TEXT" translate-values="{role:role}">
                </md-card-content>
            </md-card>
        </div>
        <div class="col-sm-0 col-md-2"></div>
    </div>

    <!-- display the weekSchedules of the exercises -->
    <div class="row">
        <div class="col-sm-12">
            <md-card>
                <md-card-content layout-gt-md="row" layout="column">
                    <div flex ng-repeat="(weekday,exercises) in weekSchedules">
                        <md-toolbar layout="row">
                            <div class="md-toolbar-tools">
                                <span translate="{{weekday}}"></span>
                            </div>
                        </md-toolbar>
                        <md-list>
                            <!-- show all scheduled exercises for each weekday -->
                            <md-list-item class="md-3-line" ng-repeat-start="exercise in exercises">
                                <div class="md-list-item-text">
                                    <h3 style="font-weight: bold; margin-top: 5px;">{{exercise.name}}</h3>
                                    <span>
                                        <md-icon class="tiny">place</md-icon>
                                        <a href="http://maps.google.com/?q={{ exercise.location }}"
                                           target="_blank"> {{ exercise.location }}</a>
                                    </span><br>
                                    <span>
                                        <md-icon class="tiny">schedule</md-icon> {{exercise.daytime}} - {{exercise.lectureEnd}}
                                    </span><br>
                                    <span><md-icon class="tiny">school</md-icon> {{exercise.tutor}}</span>
                                    <md-button ng-click="removeExercise(weekday, $index)" class="md-icon-button">
                                        <md-icon class="md-accent">delete</md-icon>
                                        <md-tooltip md-direction="right">{{ 'DELETE' | translate }}</md-tooltip>
                                    </md-button>
                                </div>
                            </md-list-item>
                            <md-divider ng-repeat-end></md-divider>
                            <!-- show a create button for each weekday -->
                            <md-list-item class="md-3-line" style="padding: 12px 0;">
                                <div class="md-list-item-text">
                                    <md-button class="md-icon-button add-exercise-dialog-open-button"
                                               ng-click="showDialog(weekday, $event)">
                                        <md-icon class="md-primary">add</md-icon>
                                        <md-tooltip md-direction="right">{{ 'ADD' | translate }}</md-tooltip>
                                    </md-button>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <!-- dialog for the create-exercise form -->
    <script type="text/ng-template" id="addExerciseDialog.tmpl.html">
        <div role="dialog" aria-label="{{ 'CREATE_TUTORIAL' | translate: {weekday:weekday} }}" layout="column" layout-align="center center">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 translate="CREATE_TUTORIAL" translate-values="{weekday:weekday}"></h2>
                    <md-button class="custom-dialog-close-button md-icon-button" ng-click="ctrl.closeDialog()">
                        <md-icon class="md-primary">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <div class="custom-dialog-content">
                <form name="createExercise">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="exerciseName[weekday]" ng-required="true" name="exerciseName"
                               placeholder="{{ 'TUTORIAL_NAME' | translate }}">
                        <div ng-messages="createExercise.exerciseName.$error">
                            <div ng-message="required" translate="INPUT_REQUIRED"></div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <input ng-model="exerciseLocation[weekday]" ng-required="true" name="exerciseLoction"
                               placeholder="{{ 'LOCATION' | translate }}" type="text">
                        <div ng-messages="createExercise.exerciseLoction.$error">
                            <div ng-message="required" translate="INPUT_REQUIRED"></div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <input type="time" ng-model="exerciseTime[weekday]" ng-required="true" name="exerciseTime"
                               placeholder="{{ 'TIME' | translate }}">
                        <div ng-messages="createExercise.exerciseTime.$error">
                            <div ng-message="required" translate="INPUT_REQUIRED"></div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-select class="dialogSelect" ng-model="exerciseTutor[weekday]" name="exerciseTutor"
                                   ng-required="true" placeholder="{{ 'TUTOR' | translate }}">
                            <md-option ng-value="tutor" ng-repeat="tutor in exerciseTutor">{{ tutor }}</md-option>
                        </md-select>
                        <div ng-messages="createExercise.exerciseTutor.$error">
                            <div ng-message="required" translate="INPUT_REQUIRED"></div>
                        </div>
                    </md-input-container>

                    <div layout="row" class="action-dialog-button">
                        <md-button class="md-primary" style="width: 100%;" ng-disabled="createExercise.$invalid"
                                   ng-click="addExercise(weekday)" aria-label="{{ 'CREATE' | translate }}"
                                   translate="CREATE">
                        </md-button>
                    </div>
                </form>
            </div>
        </div>
    </script>
</div>