<div class="jumbotron adminExercise layout-padding" ng-controller="ExerciseController">
    <h2 style="text-align: center;" translate="TUTORIAL_MGT"></h2>

    <div class="row">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <md-card>
                <md-card-content style="text-align: center;" translate="ADMIN_EXERCISE_TEXT"></md-card-content>
            </md-card>
        </div>
        <div class="col-sm-0 col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div layout-gt-md="row" layout="column" class="ng-scope layout-gt-md-row layout-column">
                <div flex-gt-sm="50" flex="" class="flex-gt-sm-50 flex" ng-repeat="(weekday,exercises) in weekSchedules">
                    <md-toolbar layout="row" class="_md layout-row _md-toolbar-transitions">
                        <div class="md-toolbar-tools">
                            <span translate="{{weekday}}"></span>
                        </div>
                    </md-toolbar>

                    <md-content class="_md">
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat-start="exercise in exercises">
                                <div class="md-list-item-text">
                                    <h3>{{exercise.name}}</h3>
                                    <span>{{exercise.location}}</span><br>
                                    <span>{{exercise.daytime}} - {{exercise.lectureEnd}}</span>
                                    <md-button ng-click="removeExercise(weekday, $index)" class="md-icon-button">
                                        <md-icon class="md-accent">delete</md-icon>
                                    </md-button>
                                </div>
                            </md-list-item>
                            <md-divider ng-repeat-end></md-divider>
                            <md-list-item class="md-3-line">
                                <div class="md-list-item-text">
                                    <md-button class="md-icon-button add-exercise-dialog-open-button" ng-click="showDialog(weekday, $event)">
                                        <md-icon class="md-primary">add</md-icon>
                                    </md-button>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </md-content>
                </div>
            </div>
        </div>
    </div>

    <!-- dialog -->
    <script type="text/ng-template" id="addExerciseDialog.tmpl.html">
        <div role="dialog" aria-label="{{ 'CREATE_TUTORIAL' | translate: {weekday:weekday} }}" layout="column" layout-align="center center">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 translate="CREATE_TUTORIAL" translate-values="{weekday:weekday}"></h2>
                    <md-button class="custom-dialog-close-button md-icon-button" ng-click="ctrl.closeDialog()">
                        <md-icon class="md-primary">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <div class="custom-dialog-content">
                <form name="createExercise">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="exerciseName[weekday]" ng-required="true" name="exerciseName"
                               placeholder="{{ 'TUTORIAL_NAME' | translate }}">
                        <div ng-messages="createExercise.exerciseName.$error">
                            <div ng-message="required" translate="INPUT_REQUIRED"></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <input type="text" ng-model="exerciseLocation[weekday]" ng-required="true" name="exerciseLoction"
                               placeholder="{{ 'LOCATION' | translate }}">
                        <div ng-messages="createExercise.exerciseLoction.$error">
                            <div ng-message="required" translate="INPUT_REQUIRED"></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <input type="time" ng-model="exerciseTime[weekday]" ng-required="true" name="exerciseTime"
                               placeholder="{{ 'TIME' | translate }}">
                        <div ng-messages="createExercise.exerciseTime.$error">
                            <div ng-message="required" translate="INPUT_REQUIRED"></div>
                        </div>
                    </md-input-container>

                    <div layout="row" class="action-dialog-button">
                        <md-button ng-click="addExercise(weekday)" class="md-primary" style="width: 100%;"
                            ng-disabled="createExercise.$invalid" aria-label="{{ 'CREATE' | translate }}" translate="CREATE">
                        </md-button>
                    </div>
                </form>
            </div>
        </div>
    </script>
</div>